<footer id="contacts" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <h2 class="footer-title">
        homemade ice cream <br class="footer-title-break" />made<span
          class="footer-title-second-part"
          >with <br class="footer-title-second-part-break" />passion</span
        >
      </h2>
      <div class="contacts-set">
        <ul class="social-networks-pages-list list">
          <li class="social-networks-pages-list-item">
            <a
              class="social-networks-pages-list-item-link link"
              href=""
              aria-label="Company's GitHub profile link"
            >
              <svg class="social-network-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks-pages-list-item">
            <a
              class="social-networks-pages-list-item-link link"
              href=""
              aria-label="Company's Telegram profile link"
            >
              <svg class="social-network-icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks-pages-list-item">
            <a
              class="social-networks-pages-list-item-link link"
              href=""
              aria-label="Company's Facebook profile link"
            >
              <svg class="social-network-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <b class="call-to-contact">
          Feel free to contact
          <a class="call-to-contact-link" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </b>
      </div>
    </div>
    <p class="copyright">
      &copy; 2019 - IceCream.<br class="copyright-break" />
      All Rights Reserved.
    </p>
  </div>
</footer>
