<!--Locations-->
<section class="locations-section">
  <div class="container">
    <h2 hidden>Locations</h2>
    <ul class="locations-list">
      <li class="locations-list-item">
        <h3 class="locations-list-item-header">CAFE</h3>
        <b class="locations-list-item-name">Chicago</b>
        <p class="locations-list-item-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-list-item-working-periop-list">
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Monday - Friday</b
            >
            <p class="locations-list-item-working-period-item-time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Saturday - Sunday</b
            >
            <p class="locations-list-item-working-period-item-time">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <address class="locations-address">
          <ul class="locations-address-list">
            <li class="locations-address-item">
              <a class="locations-address-link link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="locations-address-item">
              <a
                class="locations-address-link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="locations-list-item">
        <h3 class="locations-list-item-header-secondary">FOOD TRUCK</h3>
        <b class="locations-list-item-name">Los Angeles</b>
        <p class="locations-list-item-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-list-item-working-periop-list">
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Monday - Friday</b
            >
            <p class="locations-list-item-working-period-item-time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Saturday - Sunday</b
            >
            <p class="locations-list-item-working-period-item-time">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <address class="locations-address">
          <ul class="locations-address-list">
            <li class="locations-address-item">
              <a class="locations-address-link link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="locations-address-item">
              <a
                class="locations-address-link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="locations-list-item">
        <h3 class="locations-list-item-header">CAFE</h3>
        <b class="locations-list-item-name">New York</b>
        <p class="locations-list-item-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-list-item-working-periop-list">
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Monday - Friday</b
            >
            <p class="locations-list-item-working-period-item-time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="locations-list-item-working-periop-item">
            <b class="locations-list-item-working-period-item-day"
              >Saturday - Sunday</b
            >
            <p class="locations-list-item-working-period-item-time">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <address class="locations-address">
          <ul class="locations-address-list">
            <li class="locations-address-item">
              <a class="locations-address-link link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="locations-address-item">
              <a
                class="locations-address-link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="locations-navigation-list">
      <li class="locations-navigation-item">
        <a class="locations-navigation-link-main link" href=""
          >Our Locations
          <svg class="locations-follow-icon mane-colored">
            <use href="./images/sprite.svg#locals-btn"></use>
          </svg>
        </a>
      </li>
      <li class="locations-navigation-item">
        <a class="locations-navigation-link-secondary link" href=""
          >Franchise
          <svg class="locations-follow-icon secondary-colored">
            <use href="./images/sprite.svg#locals-btn2"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
