<section class="reviews container">
    <img class="bg-img" src="./images/reviews/bg-img.jpg" alt="bg-img">
    <img class="customer-img" src="./images/reviews/avatar.jpg" alt="avatar" width="85" height="85">
    <div class="bg-text">
        <div class="block-customer-text">
            <svg class="kovichki" width="54" height="40"><use href="./images/reviews/reviews.svg#icon-kovichki"></use></svg>
            <p class="customer-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
    </div>
    <ul class="slider-list">
        <li class="slider-list-item">
            <svg class="slider-svg" width="4" height="4"><use href="./images/reviews/reviews.svg#icon-red1"></use></svg>
        </li>
        <li class="slider-list-item">
            <svg class="slider-svg" width="4" height="4"><use href="./images/reviews/reviews.svg#icon-red2"></use></svg>
        </li>
        <li class="slider-list-item">
            <svg class="slider-svg" width="4" height="4"><use href="./images/reviews/reviews.svg#icon-red3"></use></svg>
        </li>
    </ul>

    <p class="customer-name">Emily, Los Angeles</p>

    <ul class="slider-list">
        <li class="slider-list-item-big">
            <svg class="slider-svg" width="12" height="12"><use href="./images/reviews/reviews.svg#icon-home"></use></svg>
        </li>
        <li class="slider-list-item-big">
            <svg class="slider-svg-big " width="12" height="12"><use href="./images/reviews/reviews.svg#icon-grey1"></use></svg>
        </li>
        <li class="slider-list-item-big">
            <svg class="slider-svg-big " width="12" height="12"><use href="./images/reviews/reviews.svg#icon-grey2"></use></svg>
        </li>
    </ul>
</section>