.locations-section {
  background-image: linear-gradient(
    0 deg,
    (229, 229, 229) 0% 15%,
    (255, 245, 246) 15% 100%
  );
}

.locations-list {
  display: block;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 86px;
  }
}
.locations-list-item {
  width: 100%;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 43px;
  padding-bottom: 43px;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 1200px) {
    padding-left: 43px;
    padding-right: 44px;
    padding-top: 51px;
    padding-bottom: 62px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 31px;
    }
  }
}
.locations-list-item-header {
  width: 80px;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  background: #f0d1a5;
  border-radius: 4px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.locations-list-item-header-secondary {
  width: 130px;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  background: #c2e297;
  border-radius: 4px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.locations-list-item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.locations-list-item-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.locations-list-item-working-periop-list {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.locations-list-item-working-periop-item:not(:last-child) {
  margin-bottom: 10px;
}
.locations-list-item-working-period-item-day {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}
.locations-list-item-working-period-item-time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}
.locations-address {
  padding-top: 25px;
}
.locations-address-list {
  padding-top: 25px;
  padding: 0;
}

.locations-address-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.locations-navigation-list {
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.locations-navigation-item {
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}
.locations-navigation-link-main {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 10px;
  padding-right: 30px;
  border-radius: 20px;
  color: #ffffff;
  background: #d41342;
  border-radius: 22px;
  margin-bottom: 10px;
}
.locations-navigation-link-secondary {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #d41443;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 50px;
  background: #ffffff;
  border-radius: 22px;
}
.locations-follow-icon {
  width: 8px;
  height: 12px;
  margin-left: 10px;
  align-items: baseline;
}
.mane-colored {
  fill: #d41443;
  stroke-width: 2px;
  stroke: #d41443;
}
.secondary-colored {
  fill: #ffffff;
  stroke-width: 2px;
  stroke: #ffffff;
}
